h1 {
    text-decoration: underline;
    text-align: center;
}

.box {
    display: block;
    margin: 30px auto;
    padding: 50px;
    width: 500px;
    height: 500px;
    background-color: #313131;
    color: white;
}